h1 {
    text-align: center;
    color: red;
}

/* Learn box model */
/*
div {
    width: 250px;
    height: auto;
    border: 1px solid black;
    color: black;
    text-align: center;
    padding: 0 20px;
}
*/

article {
    border: 2px solid black;
    width: 550px;
    padding: 15px;
    text-align: center;
    margin: 20px 0;
}

article p:first-of-type{
    color: red;
    font-size: 1.5em;
}

.my-class {
    width: 500px;
    height: auto;
    border: 2px solid green;
}

.box1{
    border: 2px solid black;
    margin: 20px;
    padding: 20px;
    text-align: center;
}

.box2 {
    border: 2px solid black;
    margin: 20px;
    padding: 20px;
    text-align: center;
}